{% extends 'base.html.twig' %}

{% block title %}Reservation form{% endblock %}

{% block body %}
    <h1>Please type in your reservation info</h1>
    <div class="bg-success rounded-3 p-4 mt-4 justify-content-start">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-info w-100 mt-3">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
